# Boto3 is the Amazon Web Services (AWS) Software Development Kit (SDK)
# for Python.
# License: Apache2
# Use: For KMS
boto3==1.2.3

# cryptography is a package which provides cryptographic recipes and
# primitives to Python developers.
# License: BSD
# Upstream url: https://github.com/pyca/cryptography
# Use: For encryption
cryptography==1.2.2

# Python HTTP for Humans.
# License: Apache2
# Upstream url: http://python-requests.org
# Use: REST calls to external services
requests==2.9.1

# Provides enhanced HTTPS support for httplib and urllib2 using PyOpenSSL
# License: BSD
# Upstream url: https://github.com/cedadev/ndg_httpsclient/
# Use: Securing requests for python < 2.7.9.
ndg-httpsclient==0.4.0

# ASN.1 types and codecs
# License: BSD
# Upstream url: http://sourceforge.net/projects/pyasn1/
# Use: Securing requests for python < 2.7.9.
pyasn1==0.1.9

# Python wrapper module around the OpenSSL library
# License: APL2
# Upstream url: https://github.com/pyca/pyopenssl
# Use: Securing requests for python < 2.7.9.
pyOpenSSL==0.15.1
