<div id="search" role="search">
  <form>
    <input class="st-search-input" id="st-search-input" type="search" placeholder="Search the docs">
  </form>
  <div id="st-results-container"></div>
  <script>
    var Swiftype = window.Swiftype || {};
    (function() {
    Swiftype.key = 'baT6o75WaYWmsxe1oZx2';
    Swiftype.inputElement = '#st-search-input';
    Swiftype.resultContainingElement = '#st-results-container';
    Swiftype.attachElement = '#st-search-input';
    Swiftype.renderStyle = "overlay";

    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.async = true;
    script.src = "//swiftype.com/embed.js";
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
    }());
  </script>
</div>
