<div class="landing-cta">
  <section class="wrap-container">
    <%= link_to t("cta.docs"),
      "#{locale_prefix}/basics/install.html", class: "landing-cta-button-fill", :relative => true %>
    <%= link_to t("cta.github"),
      "//github.com/lyft/confidant", class: "landing-cta-button-outline" %>
  </section>
</div>
