confidant:
  image: confidant
  #build: .
  #volumes:
  #  - .:/srv/confidant:rw
  ports:
   - "80:80"
  links:
   - redis
   - dynamo
  env_file: ./service.env
  environment:
    HOST: '0.0.0.0'
    PORT: 80
redis:
  ports:
    - "6379:6379"
  image: redis
dynamo:
  volumes:
    - /mnt/dynamo:/mnt/dynamo:rw
  ports:
    - "7777:7777"
  image: tray/dynamodb-local
  command: -port 7777 -dbPath /mnt/dynamo
