# cryptography is a package which provides cryptographic recipes and
# primitives to Python developers.
# License: BSD
# Upstream url: https://github.com/pyca/cryptography
# Use: For encryption
cryptography==2.1

# Provides enhanced HTTPS support for httplib and urllib2 using PyOpenSSL
# License: BSD
# Upstream url: https://github.com/cedadev/ndg_httpsclient/
# Use: Securing requests for python < 2.7.9.
ndg-httpsclient==0.4.2

# ASN.1 types and codecs
# License: BSD
# Upstream url: http://sourceforge.net/projects/pyasn1/
# Use: Securing requests for python < 2.7.9.
pyasn1==0.1.9

# Python wrapper module around the OpenSSL library
# License: APL2
# Upstream url: https://github.com/pyca/pyopenssl
# Use: Securing requests for python < 2.7.9.
pyOpenSSL==16.2.0

# Python 2 and 3 compatibility utilities
# License: MIT
# Upstream url: http://pypi.python.org/pypi/six/
six==1.10.0

# A small Python module for determining appropriate platform-specific dirs,
# e.g. a "user data dir".
# License: MIT
# Upstream url: http://github.com/ActiveState/appdirs
appdirs==1.4.2

# Licence: MIT
# Upstream url: http://http://lxml.de/index.html
# Use: lxml is a dependency of python-saml, and the current version is broken.
# pin lxml in stage 1 as dm.xmlsec.binding depends on it.
# xmlsec will pull master if lxml doesn't already exist.
# can be removed when wheels are used for xmlsec.
lxml==3.7.3
