<div class="well">
    <div class="form-group">
      <label for="blindCredentialNameInput">Blind Credential Name</label>
      <span id="blindCredentialNameInput">{{ blindCredential.name || 'Not set' }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialEnabled">Blind Credential Enabled</label>
      <span id="blindCredentialEnabled">{{ blindCredential.enabled }}</span>
    </div>
    <div class="form-group">
      <label for="blindCredentialKeys">Blind Credential Keys</label>
      <div class="well well-sm" id="blindCredentialKeys">
        <ul class="list-unstyled">
          <li ng-repeat="blindCredentialKey in blindCredential.credential_keys">
            {{ blindCredentialKey }}
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="blindCredentialMetadata">Blind Credential Metadata</label>
      <div class="well well-sm" id="blindCredentialMetadata">
        <div class="row has-margin-bottom-lg">
          <div></div>
          <div class="col-md-4 h6">Key</div>
          <div class="col-md-6 h6">Value</div>
        </div>
        <div class="row has-margin-bottom-lg" ng-repeat="(metadataKey, metadataValue) in blindCredential.metadata">
          <div class="col-md-4">
            <span>{{ metadataKey }}</span>
          </div>
          <div class="col-md-6 has-margin-bottom-lg">
            <span class="dont-break-out">{{ metadataValue }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialId">Blind Credential ID</label>
      <span id="blindCredentialId">{{ blindCredential.id }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialCipherType">Blind Credential Cipher Type</label>
      <span id="blindCredentialCipherType">{{ blindCredential.cipher_type }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialCipherVersion">Blind Credential CipherVersion</label>
      <span id="blindCredentialCipheVersion">{{ blindCredential.cipher_version }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialModifiedDate">Blind Credential Modified Date</label>
      <span id="blindCredentialModifiedDate">{{ blindCredential.modified_date }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialModifiedBy">Blind Credential Modified By</label>
      <span id="blindCredentialModifiedBy">{{ blindCredential.modified_by }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialRevision">Blind Credential Revision</label>
      <span id="blindCredentialRevision">{{ blindCredential.revision }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialDocumentation">Blind Credential Rotation Documentation</label>
      <span id="blindCredentialDocumentation">{{ blindCredential.documentation }}</span>
    </div>
    <div class="form-group" ng-show="blindCredential.id">
      <label for="blindCredentialServices">Services Using This Blind Credential</label>
          <div class="well well-sm">
              <ul id="blindCredentialServices" class="list-unstyled">
                  <li ng-repeat="blindCredentialService in blindCredentialServices">
                      <a href="#/resources/service/{{ blindCredentialService.id }}">{{ blindCredentialService.id }}</a> <span ng-hide="blindCredentialService.enabled">(disabled)</span>
                  </li>
              </ul>
        </div>
    </div>
</div>
