<div class="alert alert-warning" ng-show="saveError">
<p>{{ saveError }}</p>
<div ng-show="credentialPairConflicts">
  <p>The following credential pair keys conflict in the listed credentials in the listed mapped services:</p>
  <ul>
    <li ng-repeat="(credentialPairKey, conflicts) in credentialPairConflicts">
      {{ credentialPairKey }}:
      <ul>
        <li>Credentials:</li>
        <ul>
          <li ng-repeat="credentialId in conflicts.credentials"><a class="color-text-snow" href="#/resources/credentials/{{ credentialId }}">{{ getCredentialByID(credentialId).name }}</a></li>
        </ul>
      </ul>
      <ul>
        <li>Blind credentials:</li>
        <ul>
          <li ng-repeat="credentialId in conflicts.blind_credentials"><a class="color-text-snow" href="#/resources/blind_credentials/{{ credentialId }}">{{ getBlindCredentialByID(credentialId).name }}</a></li>
        </ul>
      </ul>
      <ul>
        <li>Services:</li>
        <ul>
          <li ng-repeat="serviceId in conflicts.services"><a class="color-text-snow" href="#/resources/services/{{ serviceId }}">{{ serviceId }}</a></li>
        </ul>
      </ul>
    </li>
  </ul>
  <p>Please ensure credential pair keys are unique for the mapped services, then try again.</p>
</div>
</div>
<div class="alert alert-warning" ng-show="getError">
<p>{{ getError }}</p>
</div>
<div class="well" ng-hide="getError">
  <form editable-form name="editableForm" onshow="loadCredentials()" onaftersave="saveCredential()" oncancel="cancel()" shown="{{ shown }}">
    <div class="form-group">
      <label for="credentialNameInput">Credential Name</label>
      <span editable-text="credential.name" id="credentialNameInput" e-required>{{ credential.name || 'Not set' }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialEnabled">Credential Enabled</label>
      <span editable-checkbox="credential.enabled" id="credentialEnabled">{{ credential.enabled }}</span>
    </div>
    <div class="form-group" ng-show="credential.id && hasMetadata && !decryptedCredential">
      <label for="credentialKeys">Credential Keys</label>
          <div class="well well-sm">
              <ul id="credential.credential_keys" class="list-unstyled">
                  <li ng-repeat="credentialKey in credential.credential_keys">
                      {{ credentialKey }}
                  </li>
              </ul>
        </div>
    </div>
    <div class="form-group" ng-show="credential.permissions.get">
      <label for="credentialPairInputs">Credential Pairs
        <span class="glyphicon glyphicon-lock" data-toggle="tooltip" title="This attribute is encrypted at-rest"></span>
        <span ng-show="!editableForm.$visible">
          <a ng-click="toggleCredentialMask()" ng-show="!showCredentials && !editableForm.$visible"><span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="Show decrypted credential pairs (this may cause the next rotation time to be sooner)"></span></a>
          <a ng-click="toggleCredentialMask()" ng-show="showCredentials && !editableForm.$visible"><span class="glyphicon glyphicon-eye-close"></span></a>
        </span>
      </label>
      <div class="well well-sm" id="credentialPairInputs">
        <div class="row has-margin-bottom-lg">
          <div></div>
          <div class="col-md-4 h6">Key</div>
          <div class="col-md-6 h6">Value</div>
          <div class="col-md-2 h6" ng-show="editableForm.$visible">Action</div>
        </div>
        <div class="row has-margin-bottom-lg" ng-repeat="credentialPair in credential.credentialPairs | filter:filterCredentialPair">
          <div class="col-md-4">
            <span editable-text="credentialPair.key" e-lowercase e-required>{{ credentialPair.key || 'Not set' }}</span>
          </div>
          <div class="col-md-6 has-margin-bottom-lg">
            <div class="row">
              <div class="col-md-10">
                <span class="dont-break-out" e-class="textarea-fullwidth dont-break-out" editable-textarea="credentialPair.value" e-ng-trim="false" e-rows="5" e-required>{{ showValue(credentialPair) }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2" ng-show="editableForm.$visible">
            <div class="row has-margin-bottom">
              <button type="button" ng-click="generateValue(credentialPair)" class="btn btn-loud">Generate</button>
            </div>
            <div class="row">
              <button type="button" ng-click="deleteCredentialPair(credentialPair.$$hashKey)" class="btn btn-loud">Del</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span ng-show="editableForm.$visible">
        <button type="button" ng-disabled="editableForm.$waiting" ng-click="addCredentialPair()" class="btn pull-right">Add row</button>
      </span>
    </div>
    <div class="form-group">
      <label for="credentialMetadata">Credential Metadata</label>
      <div class="well well-sm" id="credentialMetadata">
        <div class="row has-margin-bottom-lg">
          <div></div>
          <div class="col-md-4 h6">Key</div>
          <div class="col-md-6 h6">Value</div>
          <div class="col-md-2 h6" ng-show="editableForm.$visible">Action</div>
        </div>
        <div class="row has-margin-bottom-lg" ng-repeat="metadataItem in credential.mungedMetadata | filter:filterMetadata">
          <div class="col-md-4">
            <span editable-text="metadataItem.key" e-lowercase>{{ metadataItem.key || 'Not set' }}</span>
          </div>
          <div class="col-md-6 has-margin-bottom-lg">
            <div class="row">
              <div class="col-md-10">
                <span class="dont-break-out" e-class="textarea-fullwidth dont-break-out" editable-textarea="metadataItem.value" e-rows="5">{{ metadataItem.value }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2" ng-show="editableForm.$visible">
            <div class="row">
              <button type="button" ng-click="deleteMetadata(metadataItem.$$hashKey)" class="btn btn-loud">Del</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span ng-show="editableForm.$visible">
        <button type="button" ng-disabled="editableForm.$waiting" ng-click="addMetadata()" class="btn pull-right">Add row</button>
      </span>
    </div>
    <div class="form-group">
      <label for="tagInputs">Tags</label>
      <div class="well">
        <div ng-repeat="tag in credential.mungedTags | filter:filterTags" class="row">
          <div class="col-md-8">
            <span editable-select="tag.id" e-ng-selected="tag.id == t" e-name="{{ tag.id }}SelectMenu" e-ng-options="t for t in definedTags">
              {{ tag.id }}
            </span>
          </div>
          <div class="col-md-4" style="padding-bottom: 10px">
            <button type="button" ng-click="deleteTag(tag.$$hashKey)" class="btn btn-loud" ng-show="editableForm.$visible">Del</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span ng-show="editableForm.$visible && definedTags.length">
        <button type="button" ng-disabled="editableForm.$waiting" ng-click="addTag()" class="btn pull-right">Add Tag</button>
      </span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialNextRotationDate">Credential Next Rotation Needed Date</label>
      <span id="credentialNextRotationDate">{{ credential.next_rotation_date }} ({{ credential.daysTillRotation }} days)</span> <span id="credentialNextRotationDateTooltip" class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="This date is determined by the last rotation date and the last decryption date."></span>
    </div>
    <div class="form-group">
      <label for="credentialDocumentationInput">Credential Rotation Documentation</label>
      <span editable-textarea="credential.documentation"
        id="credentialDocumentationInput"
        e-class="textarea-fullwidth dont-break-out"
        e-placeholder="Add documentation for how to rotate this credential. Add a link to a runbook if relevant.">
        {{ credential.documentation || 'Add documentation for how to rotate this credential. Add a link to a runbook if relevant.' }}
      </span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialId">Credential ID</label>
      <span id="credentialId">{{ credential.id }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialModifiedDate">Credential Modified Date</label>
      <span id="credentialModifiedDate">{{ credential.modified_date }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialModifiedBy">Credential Modified By</label>
      <span id="credentialModifiedBy">{{ credential.modified_by }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialRevision">Credential Revision</label>
      <span id="credentialRevision">{{ credential.revision }} (<a href="#/history/credentials/{{ credential.id }}-{{ credential.revision }}">view history</a>)</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialServices">Services Using This Credential</label>
          <div class="well well-sm">
              <ul id="credentialServices" class="list-unstyled">
                  <li ng-repeat="credentialService in credentialServices">
                      <a href="#/resources/services/{{ credentialService.id }}">{{ credentialService.id }}</a> <span ng-hide="credentialService.enabled">(disabled)</span>
                  </li>
              </ul>
        </div>
    </div>

    <div class="buttons has-margin-bottom-lg">
      <button type="button" class="btn btn-default call-to-action" ng-click="editableForm.$show()" ng-show="!editableForm.$visible && credential.permissions.update">Edit</button>
      <button type="button" class="btn btn-default" ng-show="!editableForm.$visible && !credential.permissions.update" disabled data-toggle="tooltip" title="You do not have edit permission for this credential.">Edit</button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn call-to-action" ng-disabled="editableForm.$waiting">Save</button>
        <button type="button" class="btn btn-alternate" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
      </span>
    </div>

    <p>Note: Only fields marked with <span class="glyphicon glyphicon-lock"></span> are encrypted at-rest.</p>
  </form>
</div>
