<div class="alert alert-warning" ng-show="saveError">
<p>{{ saveError }}</p>
<div ng-show="credentialPairConflicts">
  <p>The following credential pair keys conflict in the listed credentials in the listed mapped services:</p>
  <ul>
    <li ng-repeat="(credentialPairKey, conflicts) in credentialPairConflicts">
      {{ credentialPairKey }}:
      <ul>
        <li>Credentials:</li>
        <ul>
          <li ng-repeat="credentialId in conflicts.credentials"><a class="color-text-snow" href="#/resources/credential/{{ credentialId }}">{{ getCredentialByID(credentialId).name }}</a></li>
        </ul>
      </ul>
      <ul>
        <li>Blind credentials:</li>
        <ul>
          <li ng-repeat="credentialId in conflicts.blind_credentials"><a class="color-text-snow" href="#/resources/blind_credential/{{ credentialId }}">{{ getBlindCredentialByID(credentialId).name }}</a></li>
        </ul>
      </ul>
      <ul>
        <li>Services:</li>
        <ul>
          <li ng-repeat="serviceId in conflicts.services"><a class="color-text-snow" href="#/resources/service/{{ serviceId }}">{{ serviceId }}</a></li>
        </ul>
      </ul>
    </li>
  </ul>
  <p>Please ensure credential pair keys are unique for the mapped services, then try again.</p>
</div>
</div>
<div class="well">
  <form editable-form name="editableForm" onaftersave="saveCredential()" oncancel="cancel()" shown="{{ shown }}">
    <div class="form-group">
      <label for="credentialNameInput">Credential Name</label>
      <span editable-text="credential.name" id="credentialNameInput" e-required>{{ credential.name || 'Not set' }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialEnabled">Credential Enabled</label>
      <span editable-checkbox="credential.enabled" id="credentialEnabled">{{ credential.enabled }}</span>
    </div>
    <div class="form-group">
      <label for="credentialPairInputs">Credential Pairs <span class="glyphicon glyphicon-lock"></span></label>
      <div class="well well-sm" id="credentialPairInputs">
        <div class="row has-margin-bottom-lg">
          <div></div>
          <div class="col-md-4 h6">Key</div>
          <div class="col-md-6 h6">Value</div>
          <div class="col-md-2 h6" ng-show="editableForm.$visible">Action</div>
        </div>
        <div class="row has-margin-bottom-lg" ng-repeat="credentialPair in credential.credentialPairs | filter:filterCredentialPair">
          <div class="col-md-4">
            <span editable-text="credentialPair.key" e-lowercase e-required>{{ credentialPair.key || 'Not set' }}</span>
          </div>
          <div class="col-md-6 has-margin-bottom-lg">
            <div class="row">
              <div class="col-md-10">
                <span class="dont-break-out" e-class="textarea-fullwidth dont-break-out" editable-textarea="credentialPair.value" e-ng-trim="false" e-rows="5" e-required>{{ showValue(credentialPair) }}</span>
              </div>
              <div class="col-md-2" ng-show="!editableForm.$visible">
                <a ng-click="toggleCredentialMask(credentialPair)" ng-show="!credentialPair.shown && !editableForm.$visible"><span class="glyphicon glyphicon-eye-open"></span></a>
                <a ng-click="toggleCredentialMask(credentialPair)" ng-show="credentialPair.shown && !editableForm.$visible"><span class="glyphicon glyphicon-eye-close"></span></a>
              </div>
            </div>
          </div>
          <div class="col-md-2" ng-show="editableForm.$visible">
            <div class="row has-margin-bottom">
              <button type="button" ng-click="generateValue(credentialPair)" class="btn btn-loud">Generate</button>
            </div>
            <div class="row">
              <button type="button" ng-click="deleteCredentialPair(credentialPair.$$hashKey)" class="btn btn-loud">Del</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span ng-show="editableForm.$visible">
        <button type="button" ng-disabled="editableForm.$waiting" ng-click="addCredentialPair()" class="btn pull-right">Add row</button>
      </span>
    </div>
    <div class="form-group">
      <label for="credentialMetadata">Credential Metadata</label>
      <div class="well well-sm" id="credentialMetadata">
        <div class="row has-margin-bottom-lg">
          <div></div>
          <div class="col-md-4 h6">Key</div>
          <div class="col-md-6 h6">Value</div>
          <div class="col-md-2 h6" ng-show="editableForm.$visible">Action</div>
        </div>
        <div class="row has-margin-bottom-lg" ng-repeat="metadataItem in credential.mungedMetadata | filter:filterMetadata">
          <div class="col-md-4">
            <span editable-text="metadataItem.key" e-lowercase>{{ metadataItem.key || 'Not set' }}</span>
          </div>
          <div class="col-md-6 has-margin-bottom-lg">
            <div class="row">
              <div class="col-md-10">
                <span class="dont-break-out" e-class="textarea-fullwidth dont-break-out" editable-textarea="metadataItem.value" e-rows="5">{{ metadataItem.value }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2" ng-show="editableForm.$visible">
            <div class="row">
              <button type="button" ng-click="deleteMetadata(metadataItem.$$hashKey)" class="btn btn-loud">Del</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <span ng-show="editableForm.$visible">
        <button type="button" ng-disabled="editableForm.$waiting" ng-click="addMetadata()" class="btn pull-right">Add row</button>
      </span>
    </div>
    <div class="form-group">
      <label for="credentialDocumentationInput">Credential Rotation Documentation</label>
      <span editable-textarea="credential.documentation"
        id="credentialDocumentationInput"
        e-class="textarea-fullwidth dont-break-out"
        e-placeholder="Add documentation for how to rotate this credential. Add a link to a runbook if relevant.">
        {{ credential.documentation || 'Add documentation for how to rotate this credential. Add a link to a runbook if relevant.' }}
      </span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialId">Credential ID</label>
      <span id="credentialId">{{ credential.id }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialModifiedDate">Credential Modified Date</label>
      <span id="credentialModifiedDate">{{ credential.modified_date }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialModifiedBy">Credential Modified By</label>
      <span id="credentialModifiedBy">{{ credential.modified_by }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialRevision">Credential Revision</label>
      <span id="credentialRevision">{{ credential.revision }}</span>
    </div>
    <div class="form-group" ng-show="credential.id">
      <label for="credentialServices">Services Using This Credential</label>
          <div class="well well-sm">
              <ul id="credentialServices" class="list-unstyled">
                  <li ng-repeat="credentialService in credentialServices">
                      <a href="#/resources/service/{{ credentialService.id }}">{{ credentialService.id }}</a> <span ng-hide="credentialService.enabled">(disabled)</span>
                  </li>
              </ul>
        </div>
    </div>

    <div class="buttons has-margin-bottom-lg">
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit</button>
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn" ng-disabled="editableForm.$waiting">Save</button>
        <button type="button" class="btn btn-alternate" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
      </span>
    </div>

    <p>Note: Only fields marked with <span class="glyphicon glyphicon-lock"></span> are encrypted at-rest.</p>
  </form>
</div>
