<div class="row row-relative">
  <div class="well row-relative col-sm-5">
    <div class="row">
      <div class="form">
        <div class="form-group col-md-12">
          <input type="search" class="form-control" data-ng-model="resourceRegex" placeholder="filter (credential, blind credential, or service name)">
        </div>
      </div>
    </div>
    <div class="row has-margin-bottom-lg">
      <div class="form">
        <div class="simple-form col-md-12">
          <button type="button" ng-class="{ 'history-active': typeFilter == 'credentials' }" ng-click="setTypeFilter('credentials')" class="btn">Credentials</button>
          <button type="button" ng-class="{ 'history-active': typeFilter == 'blind_credentials' }" ng-click="setTypeFilter('blind_credentials')" class="btn">Blind Credentials</button>
          <button type="button" ng-class="{ 'history-active': typeFilter == 'services' }" ng-click="setTypeFilter('services')" class="btn">Services</button>
        </div>
      </div>
    </div>
    <div class="row row-overflow-history-resources">
      <div class="col-md-12 row-relative">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Revision</th>
              <th>Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="resource in resourceArchive[typeFilter].archive | filter: resourceRegexFilter('name', resourceRegex) | orderBy:'-modified_date'" ng-click="gotoResource(resource)" style="cursor: pointer">
              <td>{{ resource.type }}</td>
              <td class="dont-break-out">{{ resource.name }}</td>
              <td>{{ resource.revision }}</td>
              <td>{{ resource.modified_date | date:'medium':'GMT' }} GMT</td>
            </tr>
          </tbody>
        </table>
        <button type="button" ng-show="typeFilter == 'credentials' && hasNext(typeFilter)" ng-click="fetchMoreResourceArchive(typeFilter)" class="btn pull-center">Load more credentials...</button>
        <button type="button" ng-show="typeFilter == 'blind_credentials' && hasNext(typeFilter)" ng-click="fetchMoreResourceArchive(typeFilter)" class="btn pull-center">Load more blind credentials...</button>
        <button type="button" ng-show="typeFilter == 'services' && hasNext(typeFilter)" ng-click="fetchMoreResourceArchive(typeFilter)" class="btn pull-center">Load more services...</button>
      </div>
    </div>
  </div>
  <div ui-view="details" class="col-md-7 row-overflow"><div class="row"><div class="no-details-text"><h3>No resource selected.</h3></div></div></div>
</div>
