<div class="row row-relative">
  <div class="well row-relative col-sm-5">
    <div class="row">
      <div class="form">
        <div class="form-group col-md-12">
          <input type="search" class="form-control" data-ng-model="resourceRegex" placeholder="filter (credential or service name)">
        </div>
      </div>
    </div>
    <div class="row has-margin-bottom-lg">
      <div class="form">
        <div class="simple-form col-md-12">
          <label for="showCredentials"><input id="showCredentials" type="checkbox" data-ng-model="showCredentials" /> Credentials&nbsp;</label>
          <label for="showBlindCredentials"><input id="showBlindCredentials" type="checkbox" data-ng-model="showBlindCredentials" /> Blind Credentials&nbsp;</label>
          <label for="showServices"><input id="showServices" type="checkbox" data-ng-model="showServices" /> Services</label>
        </div>
      </div>
    </div>
    <div class="row row-overflow-history-resources">
      <div class="col-md-12 row-relative">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Name</th>
              <th>Revision</th>
              <th>Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="resource in resourceArchive | filter: resourceRegexFilter('name', resourceRegex) | filter: resourceTypeFilter('type') | orderBy:'-modified_date'" ng-click="gotoResource(resource)" style="cursor: pointer">
              <td>{{ resource.type }}</td>
              <td class="dont-break-out">{{ resource.name }}</td>
              <td>{{ resource.revision }}</td>
              <td>{{ resource.modified_date | date:'medium':'GMT' }} GMT</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div ui-view="details" class="col-md-7 row-overflow"><div class="row"><div class="no-details-text"><h3>No resource selected.</h3></div></div></div>
</div>
