<div class="alert alert-warning" ng-show="saveError">
<p>{{ saveError }}</p>
<div ng-show="credentialPairConflicts">
  <p>The following credential pair keys conflict in the listed credentials:</p>
  <ul>
    <li ng-repeat="(credentialPairKey, conflicts) in credentialPairConflicts">
      {{ credentialPairKey }}:
      <ul>
        <li>Credentials:</li>
        <ul>
          <li ng-repeat="credentialId in conflicts.credentials"><a class="color-text-snow" href="#/resources/credential/{{ credentialId }}">{{ getCredentialByID(credentialId).name }}</a></li>
        </ul>
      </ul>
    </li>
  </ul>
  <p>Please ensure credential pair keys are unique, then try again.</p>
</div>
</div>
<div class="well">
  <h3 class="has-margin-bottom-lg">Difference between revisions of {{ serviceId }}</h3>
  <div class="row">
    <a ng-show="serviceRevision > 1" style="float: left" class="has-margin-bottom-lg" href="#/history/service/{{ serviceId }}-{{ serviceRevision - 1 }}"><span class="glyphicon glyphicon-menu-left"></span> previous revision</a>
    <a ng-show="serviceRevision < currentRevision" style="float: right" class="has-margin-bottom-lg" href="#/history/service/{{ serviceId }}-{{ serviceRevision + 1 }}">next revision <span class="glyphicon glyphicon-menu-right"></span></a>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div ng-hide="isOnlyRevision">
        <h5>Revision {{ diffRevision }}</h5>
        <h6>Enabled</h6>
        <div class="well well-sm">
          <p>{{ getServiceByRevision(diffRevision).enabled }}</p>
        </div>
        <h6>Credentials</h6>
        <div class="well">
          <ul class="list-unstyled" style="overflow: scroll">
            <li ng-repeat="credential in getServiceByRevision(diffRevision).credentials">{{ getCredentialName(credential) }}</li>
          </ul>
        </div>
        <h6>Blind Credentials</h6>
        <div class="well">
          <ul class="list-unstyled" style="overflow: scroll">
            <li ng-repeat="blind_credential in getServiceByRevision(diffRevision).blind_credentials">{{ getBlindCredentialName(blind_credential) }}</li>
          </ul>
        </div>
      </div>
      <div ng-show="isOnlyRevision">
        <h5>No other revision.</h5>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Current revision</h5>
      <h6>Enabled</h6>
      <div class="well well-sm">
        <p>{{ getServiceByRevision(currentRevision).enabled }}</p>
      </div>
      <h6>Credentials</h6>
      <div class="well">
        <ul class="list-unstyled" style="overflow: scroll">
          <li ng-repeat="credential in getServiceByRevision(currentRevision).credentials">{{ getCredentialName(credential) }}</li>
        </ul>
      </div>
      <h6>Blind Credentials</h6>
      <div class="well">
        <ul class="list-unstyled" style="overflow: scroll">
          <li ng-repeat="blind_credential in getServiceByRevision(currentRevision).blind_credentials">{{ getBlindCredentialName(blind_credential) }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-show="isCurrentRevision">
    <p ng-show="isOnlyRevision">This is the only revision of this service. You'll need to <a href="#/resources/service/{{ serviceId }}">edit the service</a> to make any changes.</p>
    <div ng-hide="isOnlyRevision">
      <p class="has-margin-bottom-lg">This is the current revision of this service. The above diff is between the current revision and the previous revision.</p>
      <button class="btn" ng-click="revertToDiffRevision()">Revert to revision {{ diffRevision }}</button>
    </div>
  </div>
  <div ng-hide="isCurrentRevision">
    <button class="btn" ng-click="revertToDiffRevision()">Revert to revision {{ diffRevision }}</button>
  </div>
</div>
