-r ../requirements3.txt
GitPython==2.0.8
Jinja2==2.10.1
MarkupSafe==1.1.1
Pygments==2.2.0
alabaster==0.7.10
babel==2.4.0
gitdb==0.6.4
imagesize==0.7.1
smmap==0.9.0
snowballstemmer==1.2.1
sphinx==2.2.0
sphinxcontrib-httpdomain==1.7.0
sphinx_rtd_theme==0.4.3
m2r==0.2.1
